/* reset */

ul,
li {
  padding: 0;
  margin: 0;
  margin-left: 0;
  padding-left: 0;
  -webkit-padding-start: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
  color: #000;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* geral */
body {
  font-family: 'Dosis', sans-serif;
}

.linha {
  position: relative;
}

.linha::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 0.5px dotted #CCC;
    height: 100%;
}

/* menu nav */
nav {
  width: 100%;
  height: 15vh;
  position: fixed;
  display: block;
  background-color: #FFF;
  z-index: 999;
}

nav.linha {
  position: fixed;
}

.menu ul {
  height: 100%;
  display: flex; /* muda o fluxo dentro do elemento */
  list-style-type: none;
}

.menu li {
  font-size: 1rem;
  margin: auto;
  width: 50%;
  text-align: center;
  color: #696969;
  border-top: 1rem;
}

.menu a {
  text-decoration: none;
  color: #696969;
}

.menu a:hover {
  border-bottom: 1px solid #000;
}

.menu li:target {
  border-bottom: 1px solid #000;
}


/* tela inicial */
.conteudo {
  display: block;
  top: 15vh;
  position: relative;
}

header {
  height: 70vh;
  min-height: 70vh;
  background-color: #e5e5e5;
  background-image: url(../img/dot.png);
  display: flex;
  flex-flow: column;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  margin: auto auto 0.5rem auto;
  position: relative;
}

h1::after {
  content: "";
  width: 20vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  right: -73%;
}

h1::before {
  content: "";
  width: 20vw;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -73%;
}


h2 {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin: 0.5rem auto auto auto;
}

.proxima {
  height: 15vh;
  display: flex;
}

.proxima a {
  margin: auto;
  color: #696969;
}

.proxima span {
  display: block;
  text-align: center;
  font-size: 1.5rem;
}

/* trabalhos */
h3 {
  font-size: 1.3rem;
  font-weight: lighter;
  margin: 0 1rem 1rem 1rem;
  padding-top: 0.5rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: lighter;
  margin: -0.8rem auto 2rem 1rem;
}

.bloco-img {
  display: flex;
}

.bloco-img a{
  display: block;
  text-indent: -9999px;
  width: 100%;
  height: 30vh;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9,
.img-10,
.img-11,
.img-12,
.img-13,
.img-14 {
  width: 50%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}

.img-1 {
  background-image: url(../img/sal-1.jpg);
}

.img-2 {
  background-image: url(../img/sal-2.jpg);
}

.img-3 {
  background-image: url(../img/apo-1.jpg);
}

.img-4 {
  background-image: url(../img/apo-2.jpg);
}

.img-5 {
  background-image: url(../img/con-1.jpg);
}

.img-6 {
  background-image: url(../img/con-2.jpg);
}

.img-7 {
  background-image: url(../img/cel-1.jpg);
}

.img-8 {
  background-image: url(../img/cel-2.jpg);
}

.img-9 {
  background-image: url(../img/ds-1.jpg);
}

.img-10 {
  background-image: url(../img/ds-2.jpg);
}

.img-11 {
  background-image: url(../img/aqua-1.jpg);
}

.img-12 {
  background-image: url(../img/aqua-2.jpg);
}

.img-13 {
  background-image: url(../img/aqua-3.jpg);
}

.img-14 {
  background-image: url(../img/aqua-4.jpg);
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.8);
}

img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 2%;
}

.lightbox:target {
  outline: none;
  display: block;
}

p {
  margin: 1rem 1rem auto 1rem;
  color: #696969;
  float: none;
}

p a {
  text-decoration: none;
}

.trabalho-1,
.trabalho-2,
.trabalho-3,
.trabalho-4,
.trabalho-5,
.trabalho-6,
.trabalho-7 {
  height: 70vh;
  display: block;
}

.icone-behance {
  margin: 1rem 1rem auto 1rem;
  font-size: 1.3rem;
}

.topo-15 {
  padding-top: 15vh;
}

/* sobre  e contato*/
.sobre {
  height: 85vh;
  display: block;
  min-height: 85vh;
}

.rede-social ul {
  list-style-type: none;
  display: flex;
}

.rede-social li {
  margin: 2rem 0 2rem 0;
  font-size: 3rem;
  width: 33.34%;
  text-align: center;
  z-index: 9999;
}

.contato a {
  margin: 2rem 1rem 0 1rem;
  color: #696969;
  padding-bottom: 2rem;
  display: block;
}

/* media querie */
@media (min-width: 410px) {
  h1::after {
    right: -100%;
  }

  h1::before {
    left: -100%;
  }

@media (min-width: 510px) {
  h1::after {
    right: -150%;
  }

  h1::before {
    left: -150%;
  }

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  h1::after {
    right: -180%;
  }

  h1::before {
    left: -180%;
  }

@media (min-width: 1180px) {
  h1::after {
    right: -200%;
  }

  h1::before {
    left: -200%;
  }
